$desk-ideal: 90em; // 1440px;
$desk-mid: 51em; // 816px;
$mob: 31.25em; // 500px;

$mid-cont-w: max(60vw, 25rem); // 400px

$red-bg: hsl(0, 100%, 74%);
$claim: hsl(154, 59%, 51%);
$claim-hover: hsl(154, 65%, 68%);
$blu-head: hsl(248, 32%, 49%);

$drk-blue: hsl(249, 10%, 26%); // input text & input-cont border
$err-clr: hsl(359, 41%, 68%);

$grayish-blue: hsl(246, 25%, 77%);

$head-border-clr: hsla(0, 0%, 0%, 0.15);
$head-glow-clr: hsla(340, 56%, 69%, 0.5);

$caret: hsl(250, 26%, 45%);
$border-inactive: hsl(0, 0%, 87%);
$label-clr: hsl(240, 1%, 40%);

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}