@function ratio($man-input, $viewport) {
	$ivw: 1440;
	$ivh: 800;
	@if $viewport == vh {
		@return $man-input / $ivh * 100vh;
	}
	@else if $viewport == vw {
		@return $man-input / $ivw * 100vw;
	}
	@else { 
		@return 0;
	}
}

@mixin floating-label {
	// height: fit-content;
	padding: 0 0.3125rem; // 5px;
	top: 0;
	transform: translateY(-50%);
	left: 1rem; // 16px;
	background-color: white;
}
